fastapi[all]    # email-validator, pydantic-settings, paydantic-extra-types, httpx, jinja2, python-multipart, itsdangerous, pyyaml, uvicorn, orjson, ujson
python-dotenv
uvicorn[standard]
gunicorn
# uvloop
# httptools
# orjson
# fastapi-limiter
slowapi
redis
filelock
# PyMySQL
sqlalchemy
sqlmodel
aiomysql
# pymongo
# DBUtils
passlib[argon2]
PyJWT
pyotp
# mcstatus
# mcclient-lib
# aio-mc-rcon
# logto
setuptools
pybreaker
rq

# pydantic
# databases
# aiomysql
# alembic
# pytest
# pytest-asyncio
# pyjwt